* {
    box-sizing: border-box;
}

body {
    background-color: rgb(108, 108, 234);
    color: rgb(154, 239, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
    overflow: hidden;
}

p {
    margin: 0px 0px 0px 0px;
    font-size: 23px;
    font-family: 'georgia', sans-serif;
    font-weight: 500;
}

h1 {
    border: 3px solid white;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
    font-size: 50px;
    box-shadow: 0px 3px 20px 1px #0ff;
    font-family: 'papyrus', fantasy;
}

.game-container {
    padding: 20px 30px;
    position: relative;
    margin: auto;
    height: 350px;
    width: 450px;
}

.figure-container {
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
    margin-bottom: 10px;
}

.figure-part {
    display: none;
}

.wrong-letters-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.wrong-letters-container p {
    margin: 0 0 5px;
}

.wrong-letters-container span {
    font-size: 24px;
}

.word {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.letter {
    border-bottom: 3px solid #f6f6f6;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    height: 50px;
    width: 20px;
}

.popup-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;

}

.popup {
    background-color: rgb(108, 108, 234);
    border-radius: 5px;
    color: black;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 0px 3px 20px 1px #0ff;
}

h2 {
    color: #000000;
}

.popup button {
    cursor: pointer;
    background-color: black;
    color: rgb(108, 108, 234);
    border-radius: 5px;
    margin-top: 10px;
    padding: 12px 20px;
    font-family: 'georgia', sans-serif;
    font-size: 16px;
}

.popup button:active {
    transform: scale(0.98);
}

.popup button:hover {
    box-shadow: 0px 3px 20px 1px #0ff;
    border-radius: 5px;
}

.notification-container {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    position: absolute;
    bottom: -50px;
    transition: transform 0.5s ease-in-out;
}

.notification-container p {
    margin: 0;
}

#unvis{
    display: none;
    visibility: hidden;
}
.notification-container.show {
    transform: translateY(-50px);
}